.env
*.pyc
*.otf
*.ttf
*.TTF
static/images/
static/printtest.jpg
__pychache__/
*.log
images/user_image
database
static/userimage/
activate/
bin/
flask/
install/
lib/
lib64
pymongo/
pyvenv.cfg
share/
static/printtest2.jpg
400weights_light.h5
weights50-improvement-02.hdf5
nohup.out
include/
ko.bin
printimage.*
static/print_image/
