@charset "utf-8";

*{ margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; color:#222222; }

input[type="text"], input[type="password"], input[type="file"], select, textarea{ outline:none; padding:0 10px; }
label{ margin-right:10px; }
input[type="checkbox"]{ margin-right:5px; vertical-align:middle; }
input[type="text"], input[type="password"]{ line-height:34px; border:solid 1px #d7d7d7; }
textarea{ height:300px; }
