<!DOCTYPE html>

<html ml-update="aware" style="--ml-zoom:1 !important;" class="gr__cosmiclab_co_kr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>
  <link rel="stylesheet" type="text/css" href="/static/notosanskr.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
  <script src="/static/script.js"></script>

  
</head>
<body data-gr-c-s-loaded="true">

<img src="./index_files/main.jpg" alt="" class="I_Question">

<div class="check_browser">
  <div class="check_browser_inner">
    <h3><span><b>I Question</b>은</span> 크롬브라우저에 최적화되어 있습니다.</h3>
    <p>크롬브라우저는 아래의 링크에서 다운받으실 수 있습니다</p>
    <div class="btn_wrap">
      <div class="btn_wrap">
        <div class="btn_select chrome">
          <a href="https://www.google.co.kr/intl/ko/chrome/" target="_blank">크롬 브라우저 다운로드</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iq_close_cont" style="display: none;">
  <div class="iq_close_cont_inner">
    <p>그만하시겠어요?</p>

    <div class="btn_wrap">
      <div class="btn_select eng cancel progress">
        <a>취소</a>
      </div>
      <div class="btn_select eng exit progress">
        <a>나가기</a>
      </div>
    </div>
  </div>
</div>


<div class="preload" style="display: none;"></div>

<div class="header">
    <div class="h_inner wrapper clearfix">
      <ul class="sns">
        <li><a href="http://cosmiclab.co.kr/wooran/start2/index.html#" onclick="javascript:window.open(&#39;https://www.facebook.com/sharer/sharer.php?u=&#39;
        +encodeURIComponent(document.URL)+&#39;&amp;t=&#39;+encodeURIComponent(document.title), &#39;facebooksharedialog&#39;,
         &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;" target="_blank" alt="Share on Facebook">
        <img src="./index_files/Facebook.png"></a></li>
        <li><a href="http://cosmiclab.co.kr/wooran/start2/index.html#" onclick="javascript:window.open(&#39;https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20&#39;
+encodeURIComponent(document.URL)+&#39;%20-%20&#39;+encodeURIComponent(document.title), &#39;twittersharedialog&#39;,
 &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600&#39;);return false;" target="_blank" alt="Share on Twitter"><img src="./index_files/Twitter.png"></a></li>
        <li><a href="http://cosmiclab.co.kr/wooran/start2/index.html#" onclick="javascript:window.open(&#39;https://plus.google.com/share?url=&#39;+encodeURIComponent(document.URL), &#39;googleplussharedialog&#39;,&#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600&#39;);return false;" target="_blank" alt="Share on Google+">
<img src="./index_files/Google_Plus.png"></a></li>
      </ul>
      <div class="list">
        <div class="list_inner">
          <span class="bar bar1 motion"></span>
          <span class="bar bar2 motion"></span>
          <span class="bar bar3 motion"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="menu_wrap motion2">
    <div class="me_inner">
      <ul class="gnb eng">
        <li><a href="http://cosmiclab.co.kr/wooran/start2/index.html#about">About</a></li>
      </ul>
      <ul class="sns clearfix">
        <li class="lang ko langon">kor</li>
        <li class="lang en">eng</li>
      </ul>
      <ul class="term clearfix">
        <li><a href="http://cosmiclab.co.kr/wooran/start2/index.html#use">개인정보보호정책</a></li>
      </ul>
    </div>
  </div>
  

  <div class="main first">
    <div class="m_inner">
      <div class="iq_wrap">
        <div class="iq_wrap_inner">
           <video src="video/iq3.mp4" autoplay="" loop="" muted=""></video>
          
        <div class="title">
          <h1>I Question</h1>

          <div class="txt_wrap">
            <p>안녕하세요. 아이퀘스천입니다.<br>함께 생각해볼까요?</p>
            <div class="btn_wrap">
              <div class="btn eng progress page1">
                <a>start</a>
              </div>
            </div>
          </div>
        </div>

        
      </div>
      
      
    </div>
  </div>


  <div class="layer_pop">
    <div class="layer_pop_inner">
      <div class="close"></div>
      <div class="content" id="about">
        <h2>I Question 소개</h2>

        <p>‘예술은 무엇인가?’라는 질문으로 인공지능과 소통할 수 있을까라는 생각에서 출발했습니다. 답이 없는 질문을 설계함으로써 의도된 오류를 내재하고 있으며, 이를 통해 인간과 기계의 공진화적 관계를 생각해봅니다.</p>
        
        <ul class="clearfix">
          <li>
            <h3>첫번째 질문</h3>
            <p>I Question은 여러분에게 사진을 보여주고, 예술적으로 마음에 드는지 질문한다. 
            여러분이 대답하면 I Question도 그에 대한 답을 한다. 
            이 과정에서 I Question은 학습을 하고, 사진을 보는 자신 만의 예술적 시각을 갖게 된다.</p>
          </li>
          <li>
            <h3>두번째 질문</h3>
            <p>여러분은 I Question에게 예술적이라고 생각하는 사진을 보여준다. 
            I Question은 600장의 사진 중에서 당신의 사진이 몇 번째로 예술적인지 대답한다.
            또 이제까지 본 모든 사진들 가운데 당신의 사진이 몇 번째로 예술적인지 대답한다. 

            I Question은 600장의 사진을 자신이 생각하는 예술적 기준으로 시각적 변형을 한다.
            예술에 대한 인간과 인공지능의 서로 다른 생각을 경계의 스펙트럼으로 시각화한다.</p>
          </li>
          <li>
            <h3>세번째 질문</h3>
            <p>우리는 인공지능과 영감을 주고받을 수 있을까?
            이 질문은 오프라인에서 전시와 퍼포먼스로 진행한다.
            다양한 예술가와 인공지능의 콜라보레이션은 여러분의 웹사이트 참여로 이루어진다.</p>
          </li>
        </ul>
        
        <div class="footer clearfix">
          <h3>제작자</h3>
          <p>작가 김제민 / 인공지능 알고리즘 개발자 이종필 / 코디네이터 차예진 / 웹개발자 김근형 / 웹디자이너 진희주<br>

          프로젝트 개발지원 우란문화재단</p>
        </div>
      </div>

      <div class="content" id="use">
        <h2>개인정보 보호정책</h2>

        <p>
1. 개인정보의 처리 목적<br>
(‘www.ai-question.com’이하 ‘I Question’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용하지 않으며, 이용목적이 변경되는 경우에는 개인정보보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.<br>
- ‘I Question’ 은(는) 인간과 기계의 상생적 공진화. 포스트 휴먼의 매체철학적 담론에 집중하며 인본주의적 사고의 인본주의적 사고의 코페르니쿠스적 전회 속에서 미래의 진화를 모색하고 있습니다. 이번 프로젝트는 인공지능을 직접 구상하고 개발함으로써 인공지능의 개발 과정을 마치 식물을 키우는 것처럼 살아있는 진화의 대상으로 바라보고 지속적으로 학습시키기 위해 정보주체의 자발적 동의 하에 사진을 수집하고 있으며 수집된 사진은 오직 ‘I Question’ 프로젝트의 전시를 위해 활용되는 것을 목적으로 하고 있습니다.<br><br>

2. 개인정보의 처리 및 보유 기간<br>
‘I Question’은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보를 법령에 따라 프로젝트의 목적 달성 완료 시까지 처리∙보유하며 프로젝트 종료 후 개인 정보를 즉시 파기합니다.<br><br>

3. 정보주체와 법정대리인의 권리∙의무 및 행사방법<br>
정보주체는 ‘I Question’에 직접 제공한 사진에 대하여 삭제 및 처리정지 요구 등 다음의 권리를 행사할 수 있습니다.<br>
1 정보주체가 제공한 이미지 삭제 요구<br>
2 개인의 초상권 침해가 우려되거나 저작권법 상 위배되는 경우<br><br>

4. 처리하는 개인정보의 항목<br>
‘I Question’ 은(는) 정보주체가 제공한 사진 외의 웹 사이트 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될수도 있습니다.<br>
-접속로그, IP주소, 쿠키, 웹페이지 이용 기록 등<br><br>

5. 개인정보의 파기<br>
‘I Question’ 은(는) 프로젝트의 목적 달성 혹은 프로젝트 종료로 인한 사이트 폐지에 따라 개인정보가 불필요하게 되었을 때에는 개인정보 보호 책임자의 주체 하에 지체없이 (5일 이내) 해당 개인정보를 파기합니다. 또한 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 프로젝트의 목적에 따라 개인정보를 계속 보존하여야 하는 경우에는 해당 개인정보를 전산화하여 보존합니다.<br><br>

6. 개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항<br>
1 ‘I Question’ 은(는) 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.<br>
2 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.<br>
가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.<br>
나. 쿠키의 설치∙운영 및 거부 : 웹브라우저 상단의 도구&gt;인터넷 옵션&gt;개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부할 수 있습니다.<br>
다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.<br><br>

7. 개인정보 보호책임자에 관한 사항<br>
‘I Question’의 개인정보 관리 및 보호의 책임자는 다음과 같습니다.<br><br>

개인정보 보호책임자<br>
:우란문화재단 한주연/ jyhan1212@wooranfdn.org<br><br>

이 밖에 기타 개인정보침해의 신고 및 상담에 대하여는 아래의 기관에 문의 가능합니다.<br>
1 개인분쟁조정위원회 : (국번없이)118<br>
2 정보보호마크인증위원회 : 02-550-9531<br>
3 대검찰청 사이버범죄수사단 : 02-3480-3571<br>
4 경찰청 사이버테러대응센터 : 1566-0112<br><br>

8. 개인정보 처리방침 변경<br>
이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.<br><br>
9. 개인정보의 안전성 확보 조치<br>
‘I Question’은(는) 개인정보보호법 제29조에 따라 개인정보의 보호 및 안전한 관리를 위해 개인정보 취급 인력은 최소화하고 있으며 접속 기록이 위∙변조 및 도난, 분실되지 않도록 보안 기능을 적용하는 등 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br>
        </p>

      </div>
    </div>
  </div>





</div></body></html>