<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script type="text/javascript" src="{{option.jquery}}"></script>
  <script type="text/javascript">
  var socket = io.connect('http://'+document.domain + ':' + location.port);
  socket.on('connect', function() {
    console.log('socket connected');
  })

  var userImages = [];
  function send(val) {
    socket.emit('control message', val);
    /*$.ajax({
      url: '/pf-message/'+val,
      success: function(data) {
        console.log(data);
      },
    });*/
  }

  function getTags() {
    $.ajax({    
      url: '/pf-get-tags/' + userImages[parseInt($('#tagNumber').val())],
      success: function(data) {
        if (data.r == 's') {
          $('#tagsText').val(data.t.join(' '));
          $('#captionText').val(data.c);
        }
      }
    });
  }

  function updateImages() {
    $.ajax({    
      url: '/pf-update-image',
      success: function(data) {
        if (data.r == 's') {
          var d = document.getElementById('imagesDiv');
          while(d.children.length > 0) {
            d.removeChild(d.children[0]);
          }
          userImages = [];
          for (var i = 0; i < data.f.length; i++) {
            var htmlImage = new Image();
            htmlImage.style.maxWidth = '100px';
            htmlImage.style.maxHeight = '100px';
            htmlImage.src = '{{option.userimage}}' + data.f[i];
            d.appendChild(htmlImage);
            userImages.push(data.f[i]);
          }
        }
      }
    })
  }

  function reset() {
    $.ajax({
      url: '/pf-reset',
      success: function(data){

      }
    });
  }
  </script>

  <input id='inputText' type="text">
  <button onclick="send(document.getElementById('inputText').value)"> Send</button><br>
  <button onclick="send('stage:0')"> Stage 0 (mute) </button><br>
  <button onclick="send('stage:1')"> Stage 1 (slide) </button><br>
  <button onclick="send('stage:2')"> Stage 2 (all) </button><br>
  <input id='stage3number' type="number" value="0" step="1">
  <button onclick="send('stage:3:' + document.getElementById('stage3number').value)"> Stage 3 (one) </button><br>
  <button onclick="send('stage:4')"> Stage 4 (spectrum) </button><br>
  <button onclick="send('stage:5')"> Stage 5 (words) </button><br>
  <textarea id='wordsText' type='text' ></textarea>
  <button onclick="send('words:' + encodeURI(document.getElementById('wordsText').value))"> Stage5에 적용 </button>
  <button onclick="send('words:' + encodeURI(document.getElementById('wordsText').value)); send('stage:5');"> Stage5에 적용하고 스테이지5로 변경 </button> <br>
  <button onclick="updateImages()">사용자가 올린 이미지 가져오기</button><br>
  <div id='imagesDiv'></div><br>
  <button onclick="send('images:'+userImages.join(','))">사용자 올린 이미지를 퍼포먼스 페이지에 반영</button><br>
  <button onclick="reset()">이미지 리셋</button>
  <h3>Image Tagging</h3><br>
  <input id='tagNumber' type="number" value="0" step="1">
  <button onclick="getTags()"> 태그 가져오기 </button><br>
  <textarea id='tagsText' type='text' ></textarea>
  <button onclick="send('words:' + encodeURI(document.getElementById('tagsText').value))"> Stage5에 적용 </button>
  <button onclick="send('words:' + encodeURI(document.getElementById('tagsText').value)); send('stage:5')"> Stage5에 적용하고 스테이지5로 변경 </button> <br>
  <textarea id='captionText' type='text' ></textarea>
  <button onclick="send('words:' + encodeURI(document.getElementById('captionText').value))"> Stage5에 적용 </button>
  <button onclick="send('words:' + encodeURI(document.getElementById('captionText').value)); send('stage:5')"> Stage5에 적용하고 스테이지5로 변경 </button> <br>
</body>
</html>
