<!DOCTYPE html>
<html>
<head>
  <title>iQuestion</title>
  <link rel="stylesheet" type="text/css" href="{{option.stylecss}}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script type="text/javascript">
    var currentStage = 0;
    var size = {{option.size}};
    var col = {{option.col}};
    var row = {{option.row}};
    var margin = {{option.margin}};
    var shouldFlick = false;
    var flickers = [];
    var image_ids = {{option.image_ids|safe}};
    var image_scores = {{option.image_scores|safe}};
    var rank600 = 0;
    var rankAll = 0;
    var sortedIds = [];
    for(var i = 0; i<image_ids.length; i++) {
      sortedIds.push(i);
    }
    sortedIds.sort(function(x,y){return image_scores[x] < image_scores[y]});

    function reassignImages() {
      for(var i = 0; i<col * row; i++) {
        var img = document.getElementById('image'+i);
        img.src = getImageAddress(i);
      }
    }

    function rearrangeImages(new_id, new_score) {
      image_ids.splice(0, 1);
      image_ids.push(new_id);
      image_scores.splice(0, 1);
      image_scores.push(new_score);
      sortedIds = [];
      for(var i = 0; i<image_ids.length; i++) {
        sortedIds.push(i);
      }
      sortedIds.sort(function(x,y){return image_scores[x] < image_scores[y] ? 1 : -1});
    }

    var sessionHash = Math.random().toString(10);
    var socket = io.connect('http://'+document.domain + ':' + location.port);
    socket.on('connect', function() {
      console.log('socket connected');
      socket.emit('ex join', sessionHash);
    });

    socket.on('ex message', function(data) {
      stage(0);
      var m = data.split(':');
      rearrangeImages(m[0], parseInt(m[1]))
      var i;
      for(i = 0; i<col*row; i++) {
        if (sortedIds[i] == col*row-1) {
          break;
        }
      }
      rank600 = i;
      console.log(data)
      document.getElementById('image'+rank600).onload = function(){
        reassignImages()
        rankAll = parseInt(m[2]);
        document.getElementById('tagline').innerHTML = '아이퀘스천은 ' + (col * row) + '장의 사진 중에서 당신의 사진을 ' + (rank600+1) + '번째로 좋아합니다.';
        document.getElementById('tagline2').innerHTML = '아이퀘스천은 지금까지 감상한 ' + m[3]  + '장의 사진 중에서 당신의 사진을 ' + (rankAll + 1) + '번째로 좋아합니다.';
        showStage(3);
        //setTimeout(function(){stage(0)}, 6000);
        setTimeout(function(){showStage(2)}, 6000);
        setTimeout(function(){hideStage(2)}, 11000);
        setTimeout(function(){showStage(4)}, 16000);
        setTimeout(function(){hideStage(4)}, 21000);
        setTimeout(function(){stage(1)}, 26000);
        document.getElementById('image'+rank600).onload = null;
      }
      document.getElementById('image'+rank600).src = getImageAddress(rank600);
    });



    window.onload = function() {
      initImageViews();
      flickingImageN = Math.floor(Math.random() * row * col);
      
        triggerFlick();
        flick();
      showStage(1);
    }

    var flicking = true;
    function triggerFlick() {
      if( flicking){
        var done = false;
        var counter = 0;
        while (!done && counter < 640) {
          var n = Math.floor(Math.random() * row * col);
          var ex = false;
          for (var i = 0; i<flickers.length; i++) {
            if (flickers[i].N == n) {
              ex = true;
            }
          }
          if (!ex) {
            flickers.push(new Flick(n));
            done = true;
          }
          counter ++;
        }
      }
      setTimeout(triggerFlick, Math.floor(Math.random() * 50))
    }

    function Flick(imageN) {
      this.direction = -1;
      this.speed = 0.0012 * (0.5 + 2 * Math.random());
      this.time = 0;
      this.maxTime = 2;
      this.N = imageN;
      this.opacity = parseFloat(document.getElementById('image'+this.N).style.opacity);
      this.shouldFlick = true;

      this.init = function() {
        this.opacity = 1;
        this.direction = -1;
        this.time = 0;
      }

      this.flick = function() {
        this.opacity += this.direction * this.speed;
        if (this.opacity < 0 || this.opacity > 1) {
          this.direction *= -1;
          this.opacity += this.direction * this.speed;
          this.time += 1;
        }
        document.getElementById('image'+this.N).style.opacity = this.opacity;
        if (this.time >= this.maxTime) {
          this.shouldFlick = false;
        }
      }
    }

    var flickingImageN = 0;
    var currentFlickDirection = -1;
    var flickingSpeed = 0.01;
    var currentFlickingTime = 0;
    var maxFlickingTime = 2;
    var currentOpacity = 1;

    function initFlick() {
      currentOpacity = 1;
      currentFlickDirection = -1;
      currentFlickingTime = 0;
      flickingImageN = Math.floor(Math.random() * col * row);
    }


    function flick() {
      for(var i = 0; i<flickers.length; i++) {
        var f = flickers[i];
        f.flick();
      }
      for(var i = flickers.length-1; i>=0; i--) {
        if (!flickers[i].shouldFlick) {
          flickers.splice(i, 1);
        }
      }
      window.requestAnimationFrame(flick);
    }

    function startFlick() {
      //shouldFlick = true;
      flicking = true;
    }

    function stopFlick() {
      for(var i = 0; i<flickers.length; i++) {
        flickers[i].shouldFlick = false;
      }
      flicking = false;
    }

    function nextStage() {
      if (currentStage == 0) {
        // showAllImages();
        showDiv(document.getElementById('image_container'));
        startFlick();
        currentStage = 1;
      } else if (currentStage == 1) {
        stopFlick()
        hideAllImages();
        setTimeout(function(){showImage(Math.floor(Math.random()*row*col))}, 3500);
        setTimeout(function(){showDiv(document.getElementById('tagline'))}, 4500);
        currentStage = 2;
      } else if (currentStage == 2) {
        hideAllImages();
        hideDiv(document.getElementById('tagline'));
        setTimeout(function(){showAllImages();}, 2000);
        currentStage = 1;
      }
    }

    function stage(stage){
      console.log('stage: ' + stage);
      hideStage();
      showStage(stage);
    }

    function hideStage() {
      if (currentStage == 0) {
        //hideDiv(document.getElementById('image_container'));
      } else if (currentStage == 1) {
        stopFlick()
        hideDiv(document.getElementById('image_container'));
        setTimeout(function(){hideAllImages();},2000);
      } else if (currentStage == 2) {
        hideDiv(document.getElementById('tagline'));
      } else if (currentStage == 3) {
        hideDiv(document.getElementById('image_container'));
        setTimeout(function(){hideAllImages();},2000);
      } else if (currentStage == 4) {
        hideDiv(document.getElementById('tagline2'));
      }
    }

    function showStage(stage) {
      if (stage == 0) {

      } else if (stage == 1) {
        showDiv(document.getElementById('image_container'));
        //setTimeout(function(){showAllImages();}, 2000);
        startFlick();
        currentStage = 1;
      } else if (stage == 2) {
        //setTimeout(function(){showImage(Math.floor(Math.random()*row*col))}, 3500);
        showDiv(document.getElementById('tagline'));
        currentStage = 2;
      } else if (stage == 3) {
        showDiv(document.getElementById('image_container'));
        showImage(rank600);
        currentStage = 3;
      } else if (stage == 4) {
        //setTimeout(function(){showImage(Math.floor(Math.random()*row*col))}, 3500);
        showDiv(document.getElementById('tagline2'));
        currentStage = 4;

      }
    }

    function buildStyle(styleDict) {
      var styleString = '';
      for (var k in styleDict) {
        styleString += k + ':' + styleDict[k] + ';'
      }
      return styleString;
    }

    function getImageAddress(index) {
      var filename = image_ids[sortedIds[index]] + '';
      while (filename.length < 4) {
        filename = '0' + filename;
      }

      return '{{option.imageoriginal}}' + filename + '.jpg';
    }

    function initImageViews() {
      var centerY = (size * row + margin * (row - 1))/2;
      var centerX = (size * col + margin * (col - 1))/2;
      var offsetY = screen.height/2 - centerY;
      var offsetX = screen.width/2 - centerX;
      for (var colI = 0; colI < col; colI ++) {
        for (var rowI = 0; rowI < row; rowI ++) {
          var htmlImage = new Image();
          var top = rowI * (size + margin) + offsetY;
          var left = colI * (size + margin) + offsetX;
          htmlImage.style = buildStyle({
            position: 'absolute',
            width: size + 'px',
            height: size + 'px',
            top: top + 'px',
            left: left + 'px',
            'background-color': 'black',
            color: 'white',
            opacity: 1
          });
          htmlImage.id = 'image'+(colI * row + rowI);
          htmlImage.alt = colI + ', ' + rowI;
          htmlImage.src = getImageAddress(colI * row + rowI);
          document.getElementById('image_container').appendChild(htmlImage);
        }
      }
    }

    function showAllImages() {
      for (var i = 0; i < row * col; i++) {
        var im = document.getElementById('image' + i);
        im.timer = setTimeout(function(el, n){
          return function(){
            if (n == row * col - 1) {
              startFlick();
            }
            el.style.opacity = 1;
          }
        }(im, i), 0 * i);
      }
    }

    function hideAllImages() {
      for (var i = 0; i < row * col; i++) {
        im = document.getElementById('image'+i);
        clearTimeout(im.timer);
        im.style.opacity = 0;
      }
    }

    function showImage(imid) {
      var im = document.getElementById('image' + imid);
      im.style.opacity = 1;
    }

    function hideImage(imid) {
      var im = document.getElementById('image' + imid);
      im.style.opacity = 0;
    }

    function showDiv(div) {
      var classes = div.className.split(' ');
      var newClasses = ['fadein'];
      for (var c of classes) {
        if (c == 'hidden' || c == 'fadeout') {

        } else {
          newClasses.push(c);
        }
      }
      div.className = newClasses.join(' ');
    }

    function hideDiv(div) {
      var classes = div.className.split(' ');
      var newClasses = ['fadeout'];
      for (var c of classes) {
        if (c == 'fadein') {

        } else {
          newClasses.push(c);
        }
      }
      div.className = newClasses.join(' ');
    }

  </script>
</head>
<body>
  <div id='main_stage' class='exhibit-stage'>
    <div id='image_container' class='exhibit-container hidden'>
    </div>
    <div id='tagline' class='exhibit-tagline hidden'>
      I Question이 당신의 사진을 좋아합니다.
    </div>
    <div id='tagline2' class='exhibit-tagline hidden'>
      I Question이 당신의 사진을 좋아합니다.
    </div>
  </div>
</body>
</html>
