<!DOCTYPE html>
<html>
<head>
  <title>iQuestion</title>
  <link rel="stylesheet" type="text/css" href="{{option.stylecss}}">
  <script type="text/javascript">
    var currentStage = 0;
    var size = {{option.size}};
    var col = {{option.col}};
    var row = {{option.row}};
    var margin = {{option.margin}};

    window.onload = function() {
      initImageViews();
      document.onclick = function(e) {
        nextStage();
      }
      flickingImageN = Math.floor(Math.random() * 600);
      flick();
    }

    var flickingImageN = 0;
    var currentFlickLevel = 1;
    var currentFlickDirection = -1;
    var flickingSpeed = 0.02;
    var currentFlickingTime = 0;
    var maxFlickingTime = 2;
    var currentOpacity = 1;

    function flick() {
      currentOpacity +=  currentFlickDirection * flickingSpeed;
      if (currentOpacity < 0 || currentOpacity >1) {
        currentFlickDirection *= -1;
        currentOpacity += currentFlickingDirection * flickingSpeed;
        currentFlickingTime += 1;
      }
      var document.getElementById('image'+flickingImageN).style.opacity =  currentOpacity;
      if (currentFlickingTime >= maxFlickingTime) {
        currentFlickingTime = 0;
        flickingImageN = Math.floor(Math.random() * 600);
      }
      window.requestAnimationFrame(flick());


    }

    function nextStage() {
      if (currentStage == 0) {
        showAllImages();
        currentStage = 1;
      } else if (currentStage == 1) {
        hideAllImages();
        setTimeout(function(){showImage(Math.floor(Math.random()*row*col))}, 3500);
        setTimeout(function(){showDiv(document.getElementById('tagline'))}, 4500);
        currentStage = 2;
      } else if (currentStage == 2) {
        hideAllImages();
        hideDiv(document.getElementById('tagline'));
        setTimeout(function(){showAllImages();}, 2000);
        currentStage = 1;
      }
    }

    function buildStyle(styleDict) {
      var styleString = '';
      for (var k in styleDict) {
        styleString += k + ':' + styleDict[k] + ';'
      }
      return styleString;
    }

    function getImageAddress(index) {
      var filename = (index+1) + '';
      while (filename.length < 4) {
        filename = '0' + filename;
      }

      return '/static/images/' + filename + '.jpg';
    }

    function initImageViews() {
      var centerY = (size * row + margin * (row - 1))/2;
      var centerX = (size * col + margin * (col - 1))/2;
      var offsetY = screen.height/2 - centerY;
      var offsetX = screen.width/2 - centerX;
      for (var colI = 0; colI < col; colI ++) {
        for (var rowI = 0; rowI < row; rowI ++) {
          var htmlImage = new Image();
          var top = rowI * (size + margin) + offsetY;
          var left = colI * (size + margin) + offsetX;
          htmlImage.style = buildStyle({
            position: 'absolute',
            width: size + 'px',
            height: size + 'px',
            top: top + 'px',
            left: left + 'px',
            'background-color': 'black',
            color: 'white',
          });
          htmlImage.id = 'image'+(colI * row + rowI);
          htmlImage.alt = colI + ', ' + rowI;
          htmlImage.src = getImageAddress(colI * row + rowI);
          htmlImage.className = 'hidden';
          document.getElementById('main_stage').appendChild(htmlImage);
        }
      }
    }

    function showAllImages() {
      for (var i = 0; i < row * col; i++) {
        var im = document.getElementById('image' + i);
        im.timer = setTimeout(function(el){return function(){el.className='fadein'}}(im), 300 * i);
      }
    }

    function hideAllImages() {
      for (var i = 0; i < row * col; i++) {
        im = document.getElementById('image'+i);
        clearTimeout(im.timer);
        im.className = 'fadeout';
      }
    }

    function showImage(imid) {
      var im = document.getElementById('image' + imid);
      im.className='fadein';
    }

    function hideImage(imid) {
      var im = document.getElementById('image' + imid);
      im.className='fadeout';
    }

    function showDiv(div) {
      var classes = div.className.split(' ');
      var newClasses = ['fadein'];
      for (var c of classes) {
        if (c == 'hidden' || c == 'fadeout') {

        } else {
          newClasses.push(c);
        }
      }
      div.className = newClasses.join(' ');
    }

    function hideDiv(div) {
      var classes = div.className.split(' ');
      var newClasses = ['fadeout'];
      for (var c of classes) {
        if (c == 'fadein') {

        } else {
          newClasses.push(c);
        }
      }
      div.className = newClasses.join(' ');
    }

  </script>
</head>
<body>
  <div id='main_stage' class='exhibit-stage'>
    <div id='tagline' class='exhibit-tagline hidden'>
      I Question이 당신의 사진을 좋아합니다.
    </div>
  </div>
</body>
</html>