
<!DOCTYPE html>
<html>
<head>
  <title>I Question</title>
  <link rel="stylesheet" type="text/css" href="{{option.stylecss}}">
  <script type="text/javascript">
    window.onload = function() {
      buttonToStage('stage1-startbutton', 200);
      buttonToStage('stage2-answer-yes', 220);
      buttonToStage('stage2-answer-no', 221);
      buttonToStage('stage220-next', 300);
      //buttonToStage('stage3-sendbutton', 310);
      document.getElementById('stage3-uploadbutton').addEventListener('click', function(){
        document.getElementById('fileinput').click()
      });
      document.getElementById('fileinput').addEventListener('change', loadImage);
      stage(100);
    };

    function fadeinDiv(divIds, delay) {
      setTimeout(function(){
        for (var divId of divIds) {
          var div = document.getElementById(divId);
          var classes = div.className.split(' ');
          var newClasses = [];
          for (var c of classes) {
            newClasses.push(c);
          }
          newClasses.push('fadein');
          div.className = newClasses.join(' ');
        }
      }, delay);
    }

    function fadeoutDiv(divIds, delay) {
      setTimeout(function(){
        for (var divId of divIds) {
          var div = document.getElementById(divId);
          var classes = div.className.split(' ');
          var newClasses = [];
          for (var c of classes) {
            if (c == 'fadein') {

            } else {
              newClasses.push(c);
            }
          }
          newClasses.push('fadeout');
          div.className = newClasses.join(' ');
        }
      }, delay);
    }

    function showDiv(divId, delay) {
      setTimeout(function(){
        var div = document.getElementById(divId);
        var classes = div.className.split(' ');
        var newClasses = [];
        for (var c of classes) {
          if (c == 'none') {

          } else {
            newClasses.push(c);
          }
        }
        div.className = newClasses.join(' ');
      }, delay);
    }

    function hideDiv(divId, delay) {
      setTimeout(function(){
        var div = document.getElementById(divId);
        var classes = div.className.split(' ');
        var newClasses = [];
        for (var c of classes) {
          if (c == 'none') {

          } else {
            newClasses.push(c);
          }
        }
        newClasses.push('none');
        div.className = newClasses.join(' ');
      }, delay);
    }

    function buttonToStage(buttonId, stageId) {
      var button = document.getElementById(buttonId);
      button.addEventListener('click', function(){stage(stageId)});
    }

    function stage(stageId) {
      if (stageId == 100) {
        fadeinDiv(['stage1-title', 'stage1-subtitle', 'stage1-image', 'stage1-startbutton', 'stage1-about', 'stage1-personalinfo'], 0);
      } else if (stageId == 200) {
        fadeoutDiv(['stage1-title', 'stage1-subtitle', 'stage1-image', 'stage1-startbutton', 'stage1-about', 'stage1-personalinfo'], 0);
        hideDiv('stage1', 3000);
        showDiv('stage2', 0);
        fadeinDiv(['stage2-image', 'stage2-image-progressbar', 'stage2-image-div'], 0);
        setTimeout(function(){stage(210);}, 5000);
      } else if (stageId == 210) {
        fadeoutDiv(['stage2-image-progressbar'], 0)
        fadeinDiv(['stage2-question', 'stage2-question-message', 'stage2-image-div'], 0);
      } else if (stageId == 220 || stageId == 221) {
        fadeoutDiv(['stage2-question', 'stage2-question-message', 'stage2-image-div']);
        hideDiv('stage2', 30000);
        showDiv('stage220', 0);
        fadeinDiv(['stage220-message', 'stage220-next'], 0);
      } else if (stageId == 300) {
        fadeoutDiv(['stage220-message', 'stage220-next'], 0);
        hideDiv('stage220', 3000);
        showDiv('stage3', 0);
        fadeinDiv(['stage3-wrapper'], 0);
      } else if (stageId == 310) {
        fadeoutDiv(['stage3-message', 'stage3-sendbutton'], 0);
        fadeinDiv(['stage310-message'], 0);
        setTimeout(function(){stage(400);}, 5000);
      } else if (stageId == 400) {
        fadeoutDiv(['stage3-wrapper'], 0);
        hideDiv('stage3', 3000);
        showDiv('stage4', 0);
        fadeinDiv(['stage4-message-top', 'stage4-message-bottom'], 0);
        //fadeinDiv(['stage4-imageswrapper'], 5000);
        for(var i = 0; i < 600; i++) {
          fadeinDiv(['stage4-image-'+i], 0 + i * 20);
        }
      }
    }

    function loadImage(e) {
      var selectedFile = e.target.files[0];
      var reader = new FileReader();
      reader.onload = (function() {
        return function(e) {
          document.getElementById('stage3-image').src = e.target.result;
          stage(310);
        };
      })();
      reader.readAsDataURL(selectedFile);
      document.getElementById('imageSelectButton').value = "";
    }

    function onMagnifier(img, n) {
      console.log(img.src, n);

    }

    function offMagnifier() {

    }

  </script>
</head>
<body>
  <div id='stage1' class='stage'>
    <div id='stage1-image' class='stage1-image hidden'>
    </div>
    <div id='stage1-title' class='stage1-title hidden'>
      I Question
    </div>
    <div id='stage1-subtitle' class='stage1-subtitle hidden'>
      안녕하세요 아이퀘스천입니다<br>함께 생각해볼까요?
    </div>
    <div id='stage1-startbutton' class='stage1-startbutton hidden textbutton'>
      START
    </div>
    <div id='stage1-about' class='stage1-about hidden'>
      About
    </div>
    <div id='stage1-personalinfo' class='stage1-personalinfo hidden'>
      개인정보처리방침
    </div>
  </div>
  <div id='stage2' class='stage none'>
    <div id='stage2-exit' class='stage2-exit'>
      x
    </div>
    <div id='stage2-image-progressbar' class='stage2-image-progressbar hidden'>
      5초간 사진을 감상해주세요
    </div>
    <div id='stage2-question-message' class='stage2-image-progressbar hidden'>
      이 사진이 예술적으로 보이나요?
    </div>
    <div class='stage2-midwrapper'>

      <div id='stage2-image-div' class='stage2-image-div hidden'>
        <img id='stage2-image' src='{{option.sampleimage}}{{'%04d' % (range(1, 1001) | random) }}_original.jpg' class='stage2-image fade-2'>
        <div id='stage2-question' class='stage2-question hidden'>
          <div class='stage2-question-answer'>
            <div id='stage2-answer-yes' class='stage2-question-answer-button textbutton'>
              O
            </div>
            |
            <div id='stage2-answer-no' class='stage2-question-answer-button textbutton'>
              X
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id='stage220' class='stage none'>
    <div id='stage220-message' class='stage220-message hidden'>
      오, 제 생각과 비슷하군요.
    </div>
    <div id='stage220-next' class='stage220-next textbutton hidden'>
      Next
    </div>
  </div>
  <div id='stage3' class='stage none'>
    <div id='stage3-wrapper' class='stage3-wrapper hidden'>
      <div id='stage3-message' class='stage3-message'>
        당신이 가지고 있는 예술적 사진을 나에게 보여줄래요?
      </div>
      <div id='stage310-message' class='stage310-message hidden'>
        나는 당신의 사진을 감상하고 있습니다
      </div>
      <img id='stage3-image' class='stage3-image' src='/static/upload.png'>
      </img>
      <div id='stage3-uploadbutton' class='stage3-uploadbutton hidden'>

      </div>
      <!--div id='stage3-sendbutton' class='stage3-sendbutton textbutton'>
        완료
      </div-->
    </div>
  </div>
  <div id='stage4' class='stage none'>
    <div id='stage4-message-top' class='stage4-message-top hidden'>
      나는 최근에 감상한 600장의 사진 중에서 당신의 사진이 152번째로 마음에 듭니다.
    </div>
    <div id='stage4-message-bottom' class='stage4-message-bottom hidden'>
      - 예술적 경계의 스펙트럼 -
    </div>
    <div id='stage4-imageswrapper' class='stage4-imageswrapper'>
      {% for i in range(60) %}
      {% for j in range(10) %}
      <img id='stage4-image-{{i*10+j}}' class='stage4-image hidden' style='margin-left:{{i*15}}px; margin-top:{{j*15}}px;' src='{{option.sampleimage}}{{'%04d' % (range(1, 1001) | random) }}.jpg' mouseenter='onmagnifier(event.target, {{i*10+j}})' mouseleave='offmagnifier()'>
      {% endfor %}
      {% endfor %}
    </div>
    <div id='stage4-magnigier' class='stage4-magnifier' style='display:none'>
    </div>
  </div>
  <input id='fileinput' type='file' hidden>
</body>
</html>