
<!DOCTYPE html>
<html>
<head>
  <title>I Question</title>
  <link rel="stylesheet" type="text/css" href="{{option.stylecss}}">
  <script type="text/javascript">
    var image_ids = {{option.image_ids | safe}};
    var image_scores = {{option.image_scores}};

    var user_image = '';
    var oxCount = 0;
    window.onload = function() {
      buttonToStage('stage1-startbutton', 200);
      buttonToStage('stage2-next', 210);
      buttonToStage('stage2-answer-yes', 220);
      buttonToStage('stage2-answer-no', 221);
      //buttonToStage('stage220-next', 300);

      document.getElementById('stage220-next').addEventListener('click', function() {
        oxCount +=1 ;
        if (oxCount < 4) {
          var newImageId = zeropadding(Math.floor(Math.random() * 1000) + 1) + '.jpg';
          document.getElementById('stage2-image').src = '{{option.imageoriginal}}' + newImageId;
          stage(200);
        } else {
          stage(300);
        }
      });

      document.getElementById('stage3-sendbutton').addEventListener('click', function() {
        uploadImage();
        document.getElementById('stage3-sendbutton').hidden = true;
      });
      document.getElementById('stage3-uploadbutton').addEventListener('click', function(){
        document.getElementById('fileinput').click()
      });
      document.getElementById('fileinput').addEventListener('change', loadImage);
      document.getElementById('personalinfo-bg').addEventListener('click', function() {
        document.getElementById('personalinfo-bg').style.display = 'none';
      });
      document.getElementById('stage1-personalinfo').addEventListener('click', function() {
        document.getElementById('personalinfo-bg').style.display = 'block';
      })
      document.addEventListener('contextmenu', event => event.preventDefault());
      for (var eb of ['stage2-exit', 'stage3-exit', 'stage4-exit']) {
        document.getElementById(eb).addEventListener('click', function() {
          document.getElementById('exit-bg').style.display = 'block';
        });
      }
      document.getElementById('exit-cancel').addEventListener('click', function() {
        document.getElementById('exit-bg').style.display = 'none';
      });
      document.getElementById('exit-confirm').addEventListener('click', function() {
        location.reload();
      })

      for (var i = 0; i < 600; i++) {
        document.getElementById('stage4-image-'+i).addEventListener('mouseover', function(i){return function(){magnify(i)}}(i));
        document.getElementById('stage4-image-'+i).addEventListener('mouseleave', function(i){return function(){unmagnify(i)}}(i));
      }

      startDownloadingImages();
      stage(100);
    };

    function magnify(i) {
      var magnifier = document.getElementById('stage4-magnifier');
      magnifier.style.display = 'block';
      var im = document.getElementById('stage4-image-' + i);
      magnifier.src = im.src;
      if (i < 300) { 
        magnifier.style.left = (Math.floor(i / 10)+1) * 16 + 'px';
      } else {
        magnifier.style.left = (Math.floor(i / 10) * 16 - 143) + 'px';
      }
    }

    function unmagnify(i) {
      document.getElementById('stage4-magnifier').style.display = 'none';
      document.getElementById('stage4-magnifier').src = '';
    }

    function startDownloadingImages() {
      for (var i = 0; i< 599; i++) {
        var im = document.getElementById('stage4-image-'+i);
        im.imageid = Math.floor( 1000 * Math.random()) + 1;
        document.getElementById('stage4-image-'+i).src = '{{option.imageoriginal}}' + image_ids[i]  + '.jpg';
      }
    }

    function uploadImage() {
      var XHR = new XMLHttpRequest();
      var FD = new FormData(document.getElementById('imageForm'));
      XHR.addEventListener("load", function(event) {
        if (JSON.parse(event.target.responseText).r == 's') {
          console.log('image uploaded');
          user_image = JSON.parse(event.target.responseText).i;
          document.getElementById('stage4-image-599').src = '{{option.imageoriginal}}' + user_image + '.jpg';
          setTimeout(function() {document.getElementById('stage3-sendbutton').hidden = false; stage(400);}, 0);
        } else {
          alert('이미지 전송에 실패했습니다. 다시 시도해 주세요.');
          document.getElementById('stage3-sendbutton').hidden = false;
        }
      });
      XHR.addEventListener("error", function(event) {
        alert('이미지 전송에 실패했습니다. 다시 시도해 주세요.');
        document.getElementById('stage3-sendbutton').hidden = false;
      });
      XHR.open("POST", "/image")
      XHR.send(FD);
      stage(310);
    }

    function zeropadding(n) {
      if (n < 10) {
        return '000' + n;
      } else if (n < 100) {
        return '00' + n;
      } else if (n < 1000) {
        return '0' + n;
      } else {
        return '' + n;
      }
    }

    function fadeinDiv(divIds, delay) {
      setTimeout(function(){
        for (var divId of divIds) {
          var div = document.getElementById(divId);
          var classes = div.className.split(' ');
          var newClasses = [];
          for (var c of classes) {
            newClasses.push(c);
          }
          newClasses.push('fadein');
          div.className = newClasses.join(' ');
        }
      }, delay);
    }

    function fadeoutDiv(divIds, delay) {
      setTimeout(function(){
        for (var divId of divIds) {
          var div = document.getElementById(divId);
          var classes = div.className.split(' ');
          var newClasses = [];
          for (var c of classes) {
            if (c == 'fadein') {

            } else {
              newClasses.push(c);
            }
          }
          newClasses.push('fadeout');
          div.className = newClasses.join(' ');
        }
      }, delay);
    }

    function showDiv(divId, delay) {
      setTimeout(function(){
        var div = document.getElementById(divId);
        var classes = div.className.split(' ');
        var newClasses = [];
        for (var c of classes) {
          if (c == 'none') {

          } else {
            newClasses.push(c);
          }
        }
        div.className = newClasses.join(' ');
      }, delay);
    }

    function hideDiv(divId, delay) {
      setTimeout(function(){
        var div = document.getElementById(divId);
        var classes = div.className.split(' ');
        var newClasses = [];
        for (var c of classes) {
          if (c == 'none') {

          } else {
            newClasses.push(c);
          }
        }
        newClasses.push('none');
        div.className = newClasses.join(' ');
      }, delay);
    }

    function buttonToStage(buttonId, stageId) {
      var button = document.getElementById(buttonId);
      button.addEventListener('click', function(){stage(stageId)});
    }

    function stage(stageId) {
      if (stageId == 100) {
        fadeinDiv(['stage1-title', 'stage1-subtitle', 'stage1-image', 'stage1-startbutton', 'stage1-about', 'stage1-personalinfo'], 0);
      } else if (stageId == 200) {
        fadeoutDiv(['stage1-title', 'stage1-subtitle', 'stage1-image', 'stage1-startbutton', 'stage1-about', 'stage1-personalinfo', 'stage220-message', 'stage220-next'], 0);
        hideDiv('stage1', 3000);
        showDiv('stage2', 0);
        fadeinDiv(['stage2-image', 'stage2-image-progressbar', 'stage2-image-div', 'stage2-next'], 3000);
      } else if (stageId == 210) {
        fadeoutDiv(['stage2-image-progressbar', 'stage2-next'], 0)
        fadeinDiv(['stage2-question', 'stage2-question-message', 'stage2-image-div'], 0);
      } else if (stageId == 220 || stageId == 221) {
        fadeoutDiv(['stage2-question', 'stage2-question-message', 'stage2-image-div']);
        hideDiv('stage2', 3000);
        showDiv('stage220', 0);
        fadeinDiv(['stage220-message', 'stage220-next'], 2000);
      } else if (stageId == 300) {
        fadeoutDiv(['stage220-message', 'stage220-next'], 0);
        hideDiv('stage220', 3000);
        showDiv('stage3', 0);
        fadeinDiv(['stage3-wrapper'], 3000);
      } else if (stageId == 310) {
        fadeoutDiv(['stage3-message', 'stage3-sendbutton'], 0);
        fadeinDiv(['stage310-message'], 0);
      } else if (stageId == 400) {
        fadeoutDiv(['stage3-wrapper'], 0);
        hideDiv('stage3', 3000);
        showDiv('stage4', 0);
        fadeinDiv(['stage4-message-top', 'stage4-message-bottom'], 3000);
        //fadeinDiv(['stage4-imageswrapper'], 5000);
        for(var i = 0; i < 600; i++) {
          fadeinDiv(['stage4-image-'+i], 0 + i * 20);
        }
      }
    }

    function loadImage(e) {
      var selectedFile = e.target.files[0];
      var reader = new FileReader();
      reader.onload = (function() {
        return function(e) {
          document.getElementById('stage3-image').src = e.target.result;
          //stage(310);
        };
      })();
      reader.readAsDataURL(selectedFile);
    }


  </script>
</head>
<body>
  <div id='stage1' class='stage'>
    <div id='stage1-image' class='stage1-image hidden'>
    </div>
    <div id='stage1-title' class='stage1-title hidden'>
      I Question
    </div>
    <div id='stage1-subtitle' class='stage1-subtitle hidden'>
      안녕하세요 아이퀘스천입니다<br>함께 생각해볼까요?
    </div>
    <div id='stage1-startbutton' class='stage1-startbutton hidden textbutton'>
      START
    </div>
    <div id='stage1-about' class='stage1-about hidden'>
      About
    </div>
    <div id='stage1-personalinfo' class='stage1-personalinfo hidden'>
      개인정보처리방침
    </div>
  </div>
  <div id='stage2' class='stage none'>
    <div id='stage2-exit' class='exitbutton'>
      x
    </div>
    <div id='stage2-image-progressbar' class='stage2-image-progressbar hidden'>
      사진을 감상해주세요
    </div>
    <div id='stage2-next' class='stage2-next textbutton hidden'>
      Next
    </div>
    <div id='stage2-question-message' class='stage2-image-progressbar hidden'>
      이 사진이 예술적으로 보이나요?
    </div>
    <div class='stage2-midwrapper'>

      <div id='stage2-image-div' class='stage2-image-div hidden'>
        <img id='stage2-image' src='{{option.imageoriginal}}{{'%04d' % (range(1, 1001) | random) }}.jpg' class='stage2-image fade-2'>
        <div id='stage2-question' class='stage2-question hidden'>
          <div class='stage2-question-answer'>
            <div id='stage2-answer-yes' class='stage2-question-answer-button textbutton'>
              O
            </div>
            |
            <div id='stage2-answer-no' class='stage2-question-answer-button textbutton'>
              X
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id='stage220' class='stage none'>
    <div id='stage220-message' class='stage220-message hidden'>
      오, 제 생각과 비슷하군요.
    </div>
    <div id='stage220-next' class='stage220-next textbutton hidden'>
      Next
    </div>
  </div>
  <div id='stage3' class='stage none'>
    <div id='stage3-exit' class='exitbutton'>
      x
    </div>
    <div id='stage3-wrapper' class='stage3-wrapper hidden'>
      <div id='stage3-message' class='stage3-message'>
        당신이 가지고 있는 예술적 사진을 나에게 보여줄래요?
      </div>
      <div id='stage310-message' class='stage310-message hidden'>
        나는 당신의 사진을 감상하고 있습니다
      </div>
      <img id='stage3-image' class='stage3-image' src='/static/upload.png'>
      </img>
      <div id='stage3-uploadbutton' class='stage3-uploadbutton hidden'>

      </div>
      <div id='stage3-sendbutton' class='stage3-sendbutton textbutton'>
        완료
      </div>
    </div>
  </div>
  <div id='stage4' class='stage none'>
    <div id='stage4-exit' class='exitbutton'>
      x
    </div>
    <div id='stage4-message-top' class='stage4-message-top hidden'>
      나는 최근에 감상한 600장의 사진 중에서 당신의 사진이 152번째로 마음에 듭니다.
    </div>
    <div id='stage4-message-bottom' class='stage4-message-bottom hidden'>
      - 예술적 경계의 스펙트럼 -
    </div>
    <div id='stage4-imageswrapper' class='stage4-imageswrapper'>
      {% for i in range(60) %}
      {% for j in range(10) %}
      <img id='stage4-image-{{i*10+j}}' class='stage4-image hidden' style='margin-left:{{i*16}}px; margin-top:{{j*16}}px;' src=''>
      {% endfor %}
      {% endfor %}
      <img id='stage4-magnifier' class='stage4-magnifier'>
    </div>
  </div>
  <div id='exit-bg' class='overlay-bg'>
    <div class='exit-confirm-container'>
      <div id='exit-cancel' class='exit-cancel textbutton'>
        취소
      </div>
      <div id='exit-confirm' class='exit-confirm textbutton'>
        나가기
      </div>
    </div>
  </div>
  <div id='personalinfo-bg' class='overlay-bg'>
    <div class='personalinfo-container'>
      <div>

      <p><strong>1. 개인정보의 처리 목적</strong></p>

<p style="margin-left: 20px;">(&lsquo;www.ai-question.com&rsquo;이하 &lsquo;I Question&rsquo;) 은(는) 다음의 목적을 위하여 개인정보를 처리하고</p>

<p style="margin-left: 20px;">있으며, 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용하지 않으며, 이용목적이</p>

<p style="margin-left: 20px;">변경되는 경우에는 개인정보보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할</p>

<p style="margin-left: 20px;">예정입니다.</p>

<p style="margin-left: 40px;">- &lsquo;I Question&rsquo; 은(는) 인간과 기계의 상생적 공진화. 포스트 휴먼의 매체철학적 담론에 집중하며</p>

<p style="margin-left: 40px;">인본주의적 사고의 인본주의적 사고의 코페르니쿠스적 전회 속에서 미래의 진화를 모색하고</p>

<p style="margin-left: 40px;">있습니다. 이번 프로젝트는 인공지능을 직접 구상하고 개발함으로써 인공지능의 개발 과정을 마치</p>

<p style="margin-left: 40px;">식물을 키우는 것처럼 살아있는 진화의 대상으로 바라보고 지속적으로 학습시키기 위해</p>

<p style="margin-left: 40px;">정보주체의 자발적 동의 하에 사진을 수집하고 있으며 수집된 사진은 오직 &lsquo;I Question&rsquo; 프로젝트의</p>

<p style="margin-left: 40px;">전시를 위해 활용되는 것을 목적으로 하고 있습니다.</p>

<p>
  <br>
</p>

<p><strong>2. 개인정보의 처리 및 보유 기간</strong></p>

<p style="margin-left: 20px;">&lsquo;I Question&rsquo;은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보를 법령에 따라</p>

<p style="margin-left: 20px;">프로젝트의 목적 달성 완료 시까지 처리∙보유하며 프로젝트 종료 후 개인 정보를 즉시 파기합니다.</p>

<p>
  <br>
</p>

<p><strong>3. 정보주체와 법정대리인의 권리∙의무 및 행사방법</strong></p>

<p style="margin-left: 20px;">정보주체는 &lsquo;I Question&rsquo;에 직접 제공한 사진에 대하여 삭제 및 처리정지 요구 등 다음의 권리를</p>

<p style="margin-left: 20px;">행사할 수 있습니다.</p>

<p style="margin-left: 40px;">① 정보주체가 제공한 이미지 삭제 요구</p>

<p style="margin-left: 40px;">② 개인의 초상권 침해가 우려되거나 저작권법 상 위배되는 경우</p>

<p>
  <br>
</p>

<p><strong>4. 처리하는 개인정보의 항목</strong></p>

<p style="margin-left: 20px;">&lsquo;I Question&rsquo; 은(는) 정보주체가 제공한 사진 외의 웹 사이트 이용과정에서 아래 개인정보 항목이</p>

<p style="margin-left: 20px;">자동으로 생성되어 수집될 수도 있습니다.</p>

<p style="margin-left: 40px;">-접속로그, IP주소, 쿠키, 웹페이지 이용 기록 등</p>

<p>
  <br>
</p>

<p><strong>5. 개인정보의 파기</strong></p>

<p style="margin-left: 20px;">&lsquo;I Question&rsquo; 은(는) 프로젝트의 목적 달성 혹은 프로젝트 종료로 인한 사이트 폐지에 따라 개인정보가</p>

<p style="margin-left: 20px;">불필요하게 되었을 때에는 개인정보 보호 책임자의 주체 하에 지체없이 (5일 이내) 해당 개인정보를</p>

<p style="margin-left: 20px;">파기합니다.</p>

<p style="margin-left: 20px;">또한 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 프로젝트의 목적에 따라</p>

<p style="margin-left: 20px;">개인정보를 계속 보존하여야 하는 경우에는 해당 개인정보를 전산화하여 보존합니다.</p>

<p>
  <br>
</p>

<p><strong>6. 개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항</strong></p>

<p style="margin-left: 20px;">① &lsquo;I Question&rsquo; 은(는) 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는</p>

<p style="margin-left: 20px;">&lsquo;쿠키(cookie)&rsquo;를 사용합니다.</p>

<p style="margin-left: 20px;">② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는</p>

<p style="margin-left: 20px;">소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.</p>

<p style="margin-left: 40px;">가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태보안접속</p>

<p style="margin-left: 40px;">여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</p>

<p style="margin-left: 40px;">나. 쿠키의 설치∙운영 및 거부 : 웹브라우저 상단의 도구 &gt; 인터넷 옵션 &gt;&nbsp; 개인정보 메뉴의 옵션 설정을</p>

<p style="margin-left: 40px;">통해 쿠키 저장을 거부 할 수 있습니다.</p>

<p style="margin-left: 40px;">다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</p>

<p>
  <br>
</p>

<p><strong>7. 개인정보 보호책임자에 관한 사항</strong></p>

<p style="margin-left: 20px;">&lsquo;I Question&rsquo;의 개인정보 관리 및 보호의 책임자는 다음과 같습니다.</p>

<p style="margin-left: 20px;">개인정보 보호책임자</p>

<p style="margin-left: 40px;">:김제민(Jaemin Kim) / veritas2537@hanmail.net</p>

<p style="margin-left: 20px;">이 밖에 기타 개인정보침해의 신고 및 상담에 대하여는 아래의 기관에 문의 가능합니다.</p>

<p style="margin-left: 40px;">① 개인분쟁조정위원회 : (국번없이)118</p>

<p style="margin-left: 40px;">② 정보보호마크인증위원회 : 02-550-9531</p>

<p style="margin-left: 40px;">③ 대검찰청 사이버범죄수사단 : 02-3480-3571</p>

<p style="margin-left: 40px;">④ 경찰청 사이버테러대응센터 : 1566-0112</p>

<p style="margin-left: 40px;">
  <br>
</p>

<p><strong>8. 개인정보 처리방침 변경</strong></p>

<p>이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및</p>

<p>정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p>

<p>
  <br>
</p>

<p><strong>9.개인정보의 안전성 확보 조치</strong></p>

<p>&lsquo;I Question&rsquo;은(는) 개인정보보호법 제29조에 따라 개인정보의 보호 및 안전한 관리를 위해 개인정보</p>

<p>취급 인력은 최소화하고 있으며 접속 기록이 위∙변조 및 도난, 분실되지 않도록 보안 기능을 적용하는</p>

<p>등 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
</div>
    </div>
    <div id='stage4-magnigier' class='stage4-magnifier' style='display:none'>
    </div>
  </div>
  <form id='imageForm' hidden>
    <input id='fileinput' type='file' name='user_image' hidden>
  </form>
</body>
</html>