<!DOCTYPE html>
<html>
<head>
  <title>I Question Performance Page</title>
  <link rel="stylesheet" type="text/css" href="{{option.stylecss}}">
  <script type="text/javascript" src="{{option.jquery}}"></script>
</head>
<body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

  <script type="text/javascript">
    var perf_image_divs = [];
    function get_image_div(i){
      if (perf_image_divs.length > i) {
        return perf_image_divs[i];
      } else {
        var d1 = document.createElement('div');
        d1.id = 'perf-image-' + i;
        d1.className = 'perf-image';
        d1.style.display = 'inline-block';
        d1.style.position = 'relative';
        var im = document.createElement('img');
        im.id = 'perf-image-inner-' + i;
        im.style.maxWidth='100%';
        im.style.maxHeight='100%';
        im.onload = (function(n) {return function(event){imageloaded(event.target, n);};})(i);
        d1.appendChild(im);
        var d2 = document.createElement('div');
        d2.id = 'perf-image-rank-'+i;
        d2.style.width = '100%';
        d2.style.height = '{{option.height/2}}px';
        d2.style.lineHeight = 1;
        d2.style.position = 'absolute';
        d2.style.top = 0;
        d2.style.paddingTop = '{{option.height/2}}px';
        d2.style.paddingBottom = '{{option.height/4}}px';
        d2.style.textAlign = 'center';
        d2.style.fontSize = '{{option.height/2}}px';
        d2.style.color = 'white';
        d2.style.backgroundColor = 'rgba(0,0,0,0.5)';
        d2.style.display = 'none';
        d1.appendChild(d2);
        perf_image_divs.push(d1);
        document.getElementById('stage1').appendChild(d1);
        return d1;
      }
    }
    var sessionHash = Math.random().toString(10);
    var option = {
      width: {{option.width}},
      height: {{option.height}},
      fontsize: {{option.fontsize}},
      cellsize: {{option.cellsize}}
    };

    var exWindow = null;
    var socket = io.connect('http://'+document.domain + ':' + location.port);
    socket.on('connect', function() {
      console.log('socket connected');
      socket.emit('perform join', sessionHash);
    })
    socket.on('disconnect', function() {
	    console.log('discon')
    });
    socket.on('erorr', function(e){
	    console.log(e)
    });
    socket.on('control message', function(data) {
      try {
        console.log(data);
        var message = data.split(':');
        if (message[0] == 'stage') {
          stage(Number(message[1]));
          if (message[1] == '1') {
            slideLeft = 0;
          }
          if (message[1] == '3' && message.length > 2) {
            stage3(Number(message[2]));
          }
        } else if (message[0] == 'words') {
          document.getElementById('stage5').innerHTML = decodeURIComponent(message[1]).replace('/\n/g', '<br>');
        } else if (message[0] == 'images') {
          images = message[1].split(',');
          var d = document.getElementById('stage1');
          while(d.children.length > images.length) {
            d.removeChild(d.children[d.children.length - 1]);
          }
          for(var i = 0; i<images.length;  i++) {
            var div = get_image_div(i);
            document.getElementById('perf-image-inner-'+i).src = '{{option.imageoriginal}}' + images[i];
          }
        } else if (message[0] == 'fontsize') {
          document.getElementById('stage5').style.fontSize = message[1] + 'px';
        } else if (message[0] == 'ex') {
          if (message[1] == 'open') {
            exWindow = window.open('/ex/56/64/10/4');
          } else if (message[1] == 'close') {
            exWindow.close();
          }
        } else if (message[0] == 'scores') {
          scores = message[1].split(',');
          positions = [];
          for (var i = 0; i< 10; i++) {
            positions.push(i+1);
          }
          positions.sort(function(a,b){return scores[a]>scores[b];});
          for (var i = 0; i<10; i++) {
            var div = get_image_div(i);
            document.getElementById('perf-image-rank-'+i).innerHTML = positions[i];
          }
        } else if (message[0] == 'rank') {
          if (message[1] == 'show') {
            for (var i = 0; i<10; i++) {
              document.getElementById('perf-image-rank-'+i).style.display = 'block';
            }
          } else if (message[1] == 'hide') {
            for (var i = 0; i<10; i++) {
              document.getElementById('perf-image-rank-'+i).style.display = 'none';
            }
          }
        }
      } catch (e) {
        console.log(e);
      }
    });

    window.onload = function () {
      window.requestAnimationFrame(slideImage);
      stage(0);
      initImageViews();
    };

    var updating = false;
    var images = [];
    var scores = [];

    function getUpdated() {
      console.log(Date.now());
      if (!updating) {
        updating = true;
        $.ajax({
          url: '/pf-update/'+sessionHash,
          success: updated,
          complete: function() {
            updating = false;
            getUpdated();
          },
          timeout: 10000
        });
      }
    }

    function updated(data) {
      try {
        console.log(data);
        if (data.m == '') {
          console.log(data);
        }
        var message = data.m.split(':');
        if (message[0] == 'stage') {
          stage(Number(message[1]));
          if (message[1] == '1') {
            slideLeft = 0;
          }
          if (message[1] == '3' && message.length > 2) {
            stage3(Number(message[2]));
          }
        } else if (message[0] == 'words') {
          document.getElementById('stage5').innerHTML = decodeURIComponent(message[1]).replace('/\n/g', '<br>');
        } else if (message[0] == 'images') {
          images = message[1].split(',');
          for(var i = 0; i<Math.min(images.length, 10);  i++) {
            document.getElementById('perf-image-'+i).src = '{{option.userimage}}' + images[i];
          }
        } else if (message[0] == 'fontsize') {
          document.getElementById('stage5').style.fontSize = message[1] + 'px';
        } else if (message[0] == 'scores') {
          scores = message[1].split(',');
        }
      } catch (e) {
        console.log(e);
      }
    }

    function stage3(i) {
      var im = document.getElementById('perf3-image');
      im.src = document.getElementById('perf-image-inner-' + i).src;
      im.style.marginLeft = (option.width - imageWidthList[i] * option.height / imageHeightList[i] - 0) / 2 + 'px';
    }


var stageNames = ['stage0', 'stage1', 'stage2', 'stage3', 'stage4', 'stage5'];

var N_STAGE = stageNames.length;

    function stage(stageID) {
      for(var i = 0; i < N_STAGE; i++) {
        document.getElementById(stageNames[i]).style.display = (i==stageID)?'block':'none';
      }
    }

    var imageWidthList = [];
    var imageHeightList = [];

    var slideWidth = 0;

    function imageloaded(e, number) {
      e.width = e.width * option.height / e.height;
      imageWidthList[number] = e.width;
      imageHeightList[number] = option.height;
      document.getElementById('perf-image-'+number).style.width = e.width + 'px';
      document.getElementById('perf-image-'+number).style.height= e.height + 'px';

      slideWidth = imageWidthList.reduce(function(a, b){return a+b+6}, 0);
      document.getElementById('stage1').style.width = slideWidth + 'px';
      document.getElementById('perf2-image-'+number).src = e.src;
      var left = 0;
      for (var i = 0; i< 10; i++) {
        var im = document.getElementById('perf2-image-'+i);
        im.style.left = left + 'px';
        var w = imageWidthList[i] / slideWidth * option.width;
        left += w;
        im.style.width = w + 'px';
        var h = imageHeightList[i] / imageWidthList[i] * w;
        im.style.top = (option.height - h) / 2 + 'px';
      }
    }
    var direction = -1;
    var slideLeft = 0;
    var slideSpeed = 1;

    function slideImage() {
      slideLeft += Math.floor(direction * slideSpeed * (2 + 8 * Math.pow(Math.min(1, Math.min(Math.abs(slideLeft), Math.abs(slideWidth - option.width + slideLeft))/100), 2) / 10));
      if ((-slideLeft > slideWidth - option.width) ||
      (slideLeft > 0)) {
        direction = - direction;
        slideLeft += direction * slideSpeed;
      }
      document.getElementById('stage1').style.left = slideLeft + 'px';
      window.requestAnimationFrame(slideImage);
    }

    function buildStyle(styleDict) {
      var styleString = '';
      for (var k in styleDict) {
        styleString += k + ':' + styleDict[k] + ';'
      }
      return styleString;
    }

    function getImageAddress(index) {
      var filename = (index+1) + '';
      while (filename.length < 4) {
        filename = '0' + filename;
      }

      return '{{option.image56}}' + filename + '.jpg';
    }

    function initImageViews() {
      var size = option.cellsize;
      var row = 10;
      var col = 64;
      var margin = 4;
      var centerY = (size * row + margin * (row - 1))/2;
      var centerX = (size * col + margin * (col - 1))/2;
      var offsetY = option.height/2 - centerY;
      var offsetX = option.width/2 - centerX;
      for (var colI = 0; colI < col; colI ++) {
        for (var rowI = 0; rowI < row; rowI ++) {
          var htmlImage = new Image();
          var top = rowI * (size + margin) + offsetY;
          var left = colI * (size + margin) + offsetX;
          htmlImage.style = buildStyle({
            position: 'absolute',
            width: size + 'px',
            height: size + 'px',
            top: top + 'px',
            left: left + 'px',
            'background-color': 'black',
            color: 'white',
            opacity: 1
          });
          htmlImage.id = 'image'+(colI * row + rowI);
          htmlImage.alt = colI + ', ' + rowI;
          htmlImage.src = getImageAddress(colI * row + rowI);
          document.getElementById('image_container').appendChild(htmlImage);
        }
      }
    }
  </script>
  <div id='stage' class='perf-stage' style='width:{{option.width}}px; height:{{option.height}}px'>
    <div id='stage0' style='display: none;'></div>
    <div id='stage1' class='perf-image-wrapper' style='display:none; height:{{option.height}}px; width: 10000px'>
    </div>
    <div id='stage2' style='display:none;  width: {{option.width}}px; height: {{option.height}}px; vertical-align: center;'>
      {% for i in range(10) %}
      <img id='perf2-image-{{i}}' class='perf-image perf2-image'>
      {% endfor %}
    </div>
    <div id='stage3' style='display:none; width: {{option.width}}px; height: {{option.height}}px; padding:0'>
      <img id='perf3-image' style='height: 100%;'>
    </div>
    <div id='stage4' style='display: none; width {{option.width}}px; height: {{option.height}}px;'>
    <div id='image_container' class='exhibit-container'>
    </div>
    </div>
    <div id='stage5' style='display: none; width: {{option.width}}px; height: {{(option.height-option.fontsize)/2+option.fontsize}}px; color: white; font-size: {{option.fontsize}}px; padding-top: {{(option.height-option.fontsize)/2}}px; line-height: 1; text-align: center;'>
      <p>
      TEST WORD LIST 단어 하나 둘 셋
      </p>
    </div>
  </div>
</body>
</html>
