<!DOCTYPE html>
<html ml-update="aware" style="--ml-zoom:1 !important;" class="gr__cosmiclab_co_kr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>
  <link href="/static/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/notosanskr.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
  <script src="/static/script.js"></script>

  
</head>
<body data-gr-c-s-loaded="true">
  <div class="preload" style="display: none;"></div>

  <div class="iq_close_cont" style="display: none;">
    <div class="iq_close_cont_inner">
      <p>그만하시겠어요?</p>

      <div class="btn_wrap">
        <div class="btn_select eng cancel progress">
          <a>취소</a>
        </div>
        <div class="btn_select eng exit progress">
          <a>나가기</a>
        </div>
      </div>
    </div>
  </div>

  <div class="iq_close">
    <div class="list_inner">
      <span class="bar bar1 motion"></span>
      <span class="bar bar2 motion"></span>
    </div>
  </div>


  
  

  <div class="main">
    <div class="m_inner">
      <div class="txt_wrap step">
        <h2>이 사진이 예술적으로 보이나요?</h2>
      </div>
      <div class="iq_wrap step">
        <div class="iq_wrap_inner progress_pic"><img class="iq" src="{{option.imageoriginal}}{{option.question_image}}.jpg" alt=""></div>
        
        <div class="btn_wrap select step page2">
          <div class="btn_select eng">
            <a onclick="answer({{option.step}}, 1);">O</a>
          </div>
          <div class="btn_select eng">
            <a onclick="answer({{option.step}}, 0);">X</a>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>




</body></html>